# Hamoye Introduction to Python for Machine learning Quiz

>By: Adeleke Adekola Emmanuel  
>Track: Data Science  
>ID: 188274ee0b41f000

In [2]:
#Libraries to analyze the quiz
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
#import dataset downloaded from Hamoye github link
food = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

In [4]:
#dataset head
food.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [7]:
#dataset information
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [83]:
#check dataset statistics
food.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

# Questions and Answers

In [97]:
# Question 1. Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  
# Which of these Areas had the highest sum in 2017?

area_group = food[['Y2017','Area']].groupby('Area')
area_with_the_highest_sum = area_group['Y2017'].sum().idxmax()
print(f"Area with the highest sum in 2017: {area_with_the_highest_sum}")

Area with the highest sum in 2017: Nigeria

In [99]:
# Question 2. 
#Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [100]:
print(f"Output of the code gives: 'TypeError'")

Output of the code gives: 'TypeError'

In [102]:
# Question 3. 
# Which of the following is a python inbuilt module?

# Answer = 'Math'

In [103]:
# Question 4.
# A pandas Dataframe with dimensions (100,3) has how many features and observations?

# Answer
# Features (columns): 3
# Observations (rows): 100

In [ ]:
3 features, 100 observations

In [106]:
# Question 5.

#If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

# How do you create a pandas DataFrame using this list, to look like the table below?
#Answer
newdata = pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])
newdata

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [ ]:
#Question 6.

# Answer the following questions based on the African food production dataset provided by the FAO website already provided

# What is the total sum of Wine produced in 2015 and 2018 respectively?

#Hint:

#Perform a groupby sum aggregation on ‘Item’

In [146]:
wine_sum = food[food['Item']== 'Wine']
wine_sum.sum()

Area Code                                                   66206
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                 1319535
Item            WineWineWineWineWineWineWineWineWineWineWineWi...
Element Code                                              1818328
Element         ProductionImport QuantityStock VariationExport...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                     4497.36
Y2015                                                     4251.81
Y2016                                                     3872.09
Y2017                                                     4178.02
Y2018                                                     4039.32
dtype: object

In [147]:
# Y2015 = 4251.81
# Y2018 = 4039.32

In [153]:
# Question 7.
# What is the total number of unique countries in the dataset?

len(food['Area'].unique())

49

In [177]:
# Question 8. 
# What is the total number and percentage of missing data in 2014 to 3 decimal places?

missing2014 = food['Y2014'].isna().sum()
percentage_missing2014 = ((missing2014/60943)*100).round(3)
print(missing2014)
print(percentage_missing2014,'%')

#1589 and 2.607%

1589
2.607 %

In [182]:
# Question 9.
# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

mean_food2017 = food['Y2017'].mean()
std_food2017 = food['Y2017'].std()
print(mean_food2017)
print(std_food2017)
#135.23 and 1603.40

140.917764860268
1671.8623590572788

In [175]:
# Question 10.
# What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [ ]:
# Question 11.
# Which year had the least correlation with ‘Element Code’?
2014

In [184]:
# Question 12.
# Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

# How would you assign element 8 from the list to a variable x?

x = y[1][1]
x

8

In [207]:
# Question 13.
# Perform a groupby operation on ‘Element’.  
# What is the total number of the sum of Processing in 2017?

total_element = (food[food['Element']== 'Processing']).groupby('Element').sum()
total_element
# 292836.00

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Processing,271940,5350416,10313310,282923.0,287929.0,280631.0,292836.0,308429.0

In [247]:
# Question 14.
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’. 
# Which of these Areas had the 7th lowest sum in 2017?

grouped_by_area = food[['Area','Y2017']].groupby('Area').count().sort_values(ascending=False, by='Y2017').tail(7)
print(grouped_by_area)
seventh_lowest_area = grouped_by_area['Y2017'].nsmallest(7).index[-1]  # Get the last index
print('7th lowest is', {seventh_lowest_area})

                Y2017
Area
Mauritania       1108
Guinea-Bissau    1076
Djibouti         1061
Seychelles         68
Sudan (former)     53
Comoros            45
Ethiopia PDR       39
7th lowest is {'Mauritania'}

In [251]:
# Question 15.
# Given the following numpy array 

array  = np.array([[94, 89, 63], [93, 92, 48], [92, 94, 56]])

# How would you select  the elements in bold and italics from the array?

array[ : 2, 1 : ]

array([[89, 63],
       [92, 48]])

In [252]:
# Question 16.
# How would you check for the number of rows and columns in a pandas DataFrame named df?


# Answer = df.shape4
#example:
food.shape

(60943, 12)

In [ ]:
#Question 17.
# Which of these python data structures is unorderly?

Dictionary

Set

In [255]:
# Question 18.
# Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?
total_stock_element = (food[food['Element']== 'Stock Variation']).groupby('Element').sum()
total_stock_element
#2014

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91

In [274]:
# Question 19. 
# What is the total Protein supply quantity in Madagascar in 2015?

protein_supply = (food[food['Area']== 'Madagascar']).groupby('Element').sum()
protein_supply
#Protein supply quantity (g/capita/day
#357.12

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,15351,318888,630819,31578.76,31214.98,31732.08,31927.87,32596.87
Export Quantity,13416,279445,614744,425.48,494.75,535.06,566.81,535.81
Fat supply quantity (g/capita/day),14319,299405,75924,88.72,91.85,95.33,101.03,96.43
Feed,4515,94030,193235,2178.76,2070.22,2121.40,2059.60,2133.60
Food,14190,295817,565620,21405.42,21120.65,21435.61,21676.21,22116.21
Food supply (kcal/capita/day),14319,299405,73704,7945.00,7685.00,7669.00,7768.00,7748.00
Food supply quantity (kg/capita/yr),14190,295817,70950,907.59,871.59,861.17,847.75,842.17
Import Quantity,14319,297945,622821,2010.71,1721.80,1901.47,3139.79,3214.79
Losses,7095,148102,281765,2252.00,2176.00,2215.00,2153.00,2253.00
Other uses (non-food),6579,138246,262854,4348.58,3957.12,4114.08,4170.06,4221.06
Processing,9804,201929,389956,1262.00,1803.00,1770.00,1826.00,1819.00
Production,14190,295071,606210,30337.51,29482.89,29889.65,29267.86,30215.86
Protein supply quantity (g/capita/day),14319,299405,74814,177.79,173.05,173.40,175.75,176.64
Residuals,13545,280011,542850,-603.00,-616.00,-642.00,-657.00,-676.00
Seed,2709,56067,116067,728.00,699.00,720.00,695.00,728.00
Stock Variation,12642,262174,497056,352.00,-505.00,-475.00,-91.00,293.00
Total Population - Both sexes,129,2501,511,23590.00,24234.00,24894.00,25571.00,26262.00

In [ ]:
# Question 20.
# Which of the following dataframe methods can be used to access elements across rows and columns?

# Answer: df.iloc[ : ]